<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/categories.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="app">
      <%- include("partials/header") %>

      <main class="categories-container">
        <div class="heading-container">
          <h1><%= title %></h1>
          <a href="/categories/newCategory" class="btn-add-category">Add Category</a>
        </div>

        <div class="categories-grid">
          <% categories.forEach(category => { %>
          <div class="card">
            <h3><%= category.name %></h3>
          </div>
          <% }) %>
        </div>
      </main>

      <%- include("partials/footer") %>
    </div>
  </body>
</html>
