<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/products.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="app">
      <%- include("partials/header") %>

      <main class="products-container">
        <div class="heading-container">
          <h1><%= title %></h1>
          <a href="/products/newProduct" class="btn-add-product">Add Product</a>
        </div>

        <div class="products-grid">
          <% products.forEach(product => { %>
          <div class="card">
            <h3><%= product.name %></h3>
            <form action="/products/<%= product.id %>" method="POST">
              <button type="submit">Delete</button>
            </form>
          </div>
          <% }) %>
        </div>
      </main>

      <%- include("partials/footer") %>
    </div>
  </body>
</html>
